---
// src/pages/partner/index.astro

import Layout from "../../layouts/PartnerLayout.astro";

import Navbar from "../../components/shared/Navbar.astro";
import Hero from "../../components/partner/PartnerHero.astro";
import About from "../../components/partner/PartnerAbout.astro";
import CreditInfo from "../../components/partner/PartnerCredit.astro";
import ClubPreferred from "../../components/partner/PartnerClubPreferred.astro";
import Experiences from "../../components/partner/PartnerExperiences.astro";
import Contact from "../../components/partner/PartnerContact.astro";
import Footer from "../../components/shared/Footer.astro";
---

<meta name="robots" content="noindex,nofollow">

<Layout title="AVYNA Saltillo | Únete a nuestro programa de socios" description="Descubre los beneficios exclusivos para salones profesionales con AVYNA Saltillo. Únete a nuestro programa de socios y accede a crédito, promociones especiales y asesoría personalizada para impulsar tu negocio.">

<!-- PROTECT -->
<script is:inline>
if(sessionStorage.getItem("avyna_pro_access") !== "true"){
window.location.pathname="/partner/login";
}
</script>

<Navbar />

<main class="bg-black text-white overflow-hidden">

  <Hero />
  <About />
  <CreditInfo />
  <ClubPreferred />
  <Experiences />
  <Contact />

</main>

<Footer />

</Layout>