---
// src/pages/partners/index.astro

import Layout from "../../layouts/PartnersLayout.astro";

import Navbar from "../../components/shared/Navbar.astro";
import Hero from "../../components/partners/PartnersHero.astro";
import About from "../../components/partners/PartnersAbout.astro";
import CreditInfo from "../../components/partners/PartnersCredit.astro";
import ClubPreferred from "../../components/partners/PartnersClubPreferred.astro";
import Experiences from "../../components/partners/PartnersExperiences.astro";
import Contact from "../../components/partners/PartnersContact.astro";
import Footer from "../../components/shared/Footer.astro";
---

<meta name="robots" content="noindex,nofollow">

<Layout title="AVYNA Saltillo | Únete a nuestro programa de socios" description="Descubre los beneficios exclusivos para salones profesionales con AVYNA Saltillo. Únete a nuestro programa de socios y accede a crédito, promociones especiales y asesoría personalizada para impulsar tu negocio.">

<!-- PROTECT -->
<script is:inline>
const access = localStorage.getItem("avyna_partner_access");
const expire = Number(
  localStorage.getItem("avyna_partner_expire") || 0
);

if (
  access !== "true" ||
  Date.now() > expire
) {
  localStorage.removeItem("avyna_partner_access");
  localStorage.removeItem("avyna_partner_expire");

  window.location.pathname = "/partners/login";
}
</script>

<Navbar />

<main class="bg-black text-white overflow-hidden">

  <Hero />
  <About />
  <CreditInfo />
  <ClubPreferred />
  <Experiences />
  <Contact />

</main>

<Footer />

</Layout>