---
import { supabase } from "../lib/supabase";

const { data } = await supabase.auth.getSession();
---

<html>
<body style="background:black;color:white;padding:40px;">
<h1>Supabase conectado</h1>
<pre>{JSON.stringify(data,null,2)}</pre>
</body>
</html>