---
import AdminLayout from "../../layouts/AdminLayout.astro";

import DashboardStats from "../../components/admin/DashboardStats.astro";

import DashboardQuickActions from "../../components/admin/DashboardQuickActions.astro";

import DashboardRecentOrders from "../../components/admin/DashboardRecentOrders.astro";

import DashboardTopClients from "../../components/admin/DashboardTopClients.astro";

import DashboardActivity from "../../components/admin/DashboardActivity.astro";

import DashboardRevenue
from "../../components/admin/DashboardRevenue";
---

<AdminLayout title="Dashboard">

  <section class="space-y-8">

    <DashboardQuickActions />

    <DashboardStats />

    <section
      class="
        grid gap-6

        2xl:grid-cols-[1.4fr,0.8fr]
      "
    >

      <DashboardRevenue client:load data={[]}/>

      <DashboardActivity />

    </section>

    <section
      class="
        grid gap-6

        xl:grid-cols-2
      "
    >

      <DashboardRecentOrders />

      <DashboardTopClients />

    </section>

  </section>

  <script>
    import "../../scripts/admin-dashboard.ts";
  </script>

</AdminLayout>